<!-- Begin page content -->
<main role="main">
    <div class="container-fluid">
        <div class="text-center">
            <h1 class="mt-5">COVID19-Grafy</h1>
            <p class="lead">Zdroj dat: <a href="https://www.sablatura.info/covid/api/">https://www.sablatura.info/covid/api</a></p>
        </div>
        <div style="height: 500px;">
            <h4 class="text-center">Počet nových případů denně</h4>
            <div class="text-center">
                <select [(ngModel)]="selectedArea" (change)="setNewCasesArea()">
                    <option [value]="''">Všechny kraje</option>
                    <option [value]="k.key" *ngFor="let k of areas | keyvalue">{{ k.key }}</option>
                </select>
            </div>
            <ngx-charts-line-chart
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [showGridLines]="true"
                [showRefLines]="true"
                [legend]="false"
                [results]="newCasesPerDayChartData"
                [autoScale]="true"
                [timeline]="true"
                [yAxisLabel]="'Počet nových případů'"
                [xAxisLabel]="'Datum'"
                [curve]="curve"
            >
            </ngx-charts-line-chart>
        </div>
        <div style="height: 500px;">
            <h4 class="text-center">Případy cekem</h4>
            <div class="text-center">
                <select [(ngModel)]="selectedArea" (change)="setNewCasesArea()">
                    <option [value]="''">Všechny kraje</option>
                    <option [value]="k.key" *ngFor="let k of areas | keyvalue">{{ k.key }}</option>
                </select>
            </div>
            <ngx-charts-line-chart
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [showGridLines]="true"
                [showRefLines]="true"
                [legend]="false"
                [results]="newCasesCummulativeChartData"
                [autoScale]="true"
                [timeline]="true"
                [yAxisLabel]="'Případů celkem'"
                [xAxisLabel]="'Datum'"
                [curve]="curve"
            >
            </ngx-charts-line-chart>
        </div>
        <div style="height: 500px;">
            <h4 class="text-center">Případy podle krajů</h4>
            <ngx-charts-bar-vertical [results]="areasChartData" [showDataLabel]="true" [xAxis]="true"> </ngx-charts-bar-vertical>
        </div>
        <div style="height: 500px;">
            <h4 class="text-center">Místo nákazy</h4>
            <ngx-charts-bar-vertical [results]="infectionSourceChartData" [showDataLabel]="true" [xAxis]="true"> </ngx-charts-bar-vertical>
        </div>
        <div style="height: 500px;">
            <h4 class="text-center">Rozdělení podle věku</h4>
            <ngx-charts-bar-vertical [results]="ageChartData" [showDataLabel]="true" [xAxis]="true"> </ngx-charts-bar-vertical>
        </div>
        <div style="height: 500px;">
            <h4 class="text-center">Rozdělení podle pohlaví</h4>
            <ngx-charts-bar-vertical [results]="genderChartData" [showDataLabel]="true" [xAxis]="true"> </ngx-charts-bar-vertical>
        </div>
    </div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted"
            ><b>Autor:</b> Jan Deutschl (<a href="https://gitlab.com/jandeu/covid-19-charts">https://gitlab.com/jandeu/covid-19-charts</a
            >)</span
        >
    </div>
</footer>
